:root {
  --darkish-white: #f0f0f0;
  --hover-and-bg-color: #45567d;
  --gradient-bg-color: linear-gradient(
    45deg,
    #4d4d4d,
    #1b1919 70%
  );
  --blackish: #303841;
  --reddish: #be3144;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--darkish-white);
  overflow-x: hidden;
}

a {
  color: var(--darkish-white);
  text-decoration: none;
}

#navbar {
  width: 100vw;
  height: 12vh;
  background-color: var(--reddish);
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

#navbar a {
  display: flex;
  padding: 12px 20px;
  height: 100%;
  font-size: 22px;
}

#navbar a:hover {
  background-color: var(--hover-and-bg-color);
}

#navbar a:last-child {
  margin-right: 35px;
}

#welcome {
  height: 100vh;
  width: 100vw;
  background: var(--gradient-bg-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  font-size: 56px;
  font-family: 'Montserrat', sans-serif;
}

#welcome p {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  font-size: 32px;
  font-style: italic;
  color: var(--reddish);
}

/* Projects Section */
#projects {
  background: var(--hover-and-bg-color);
  padding: 75px 10px;
  text-align: center;
}

#projects h2 {
  padding: 7px 20px;
  margin-bottom: 75px;
  font-size: 36px;
  display: inline-block;
  border-bottom: white solid 3px;
  border-radius: 2px;
}

#projects-grid {
  margin: 0 3em 2.5em;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.project {
  height: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.project:hover .project-title::before, .project:hover .project-title::after {
  animation: color-change 0.1s ease forwards;
}

.project img {
  width: 100%;
  height: 100%;
}

.title-link {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: var(--darkish-white);
  background: var(--gradient-bg-color);
  grid-area: 2 / 1 / 3 / 2;
}

.project-title {
  height: 100%;
  font-weight: normal;
  display: flex;
}

.project-title::before {
  content: '<';
  font-size: 16px;
  padding-right: 10px;
}

.project-title::after {
  content: '/>';
  font-size: 16px;
  padding-left: 10px;
}

.button-link {
  text-decoration: none;
  display: flex;
}

#show-all-projects-btn {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: var(--darkish-white);
  background-color: var(--blackish);
  border: 0;
  border-radius: 3px;
  padding: 7px 15px;
  margin-top: 1em;
}

#show-all-projects-btn:hover {
  transition: background-color 1s ease-out;
  background-color: var(--reddish);
}

.arrow {
  transition: transform 0.75s ease-in-out;
}

#show-all-projects-btn:hover .arrow {
  transform: translateX(7px);
}

footer {
  width: 100%;
  height: 100%;
  background-color: var(--blackish);
  display: grid;
}

footer h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  padding: 1.5em 0 10px;
  display: flex;
}

footer .coffee {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  letter-spacing: 0.7px;
  display: flex;
}

#socials {
  font-size: 24px;
  padding: 1.2em 0 5em;
  display: flex;
}

footer a {
  padding: 1em;
  transition: transform 0.4s ease-in-out;
}

footer a:not(#link-camp):hover {
  transform: translateY(10px);
}

.freeCodeCampProject {
  width: 100%;
  padding: 1.6em;
  border-top: var(--reddish) 4px solid;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.freeCodeCampProject p {
  font-size: 16px;
  display: flex;
}

.freeCodeCampProject p:last-child {
  justify-content: flex-end;
}

#link-camp {
  padding: 4px;
  text-decoration: underline;
}

/* Keyframes */
@keyframes color-change {
  from {
    color: var(--darkish-white);
  }
  to {
    color: orange;
  }
}

/* Extras */
.justified-center {
  justify-content: center;
}

.aligned-center {
  align-items: center;
}

.icon {
  padding: 7px;
}

/* Media Query -- Screens with less than 400px width */
@media (max-width: 400px) {
  #navbar {
    justify-content: center;
  }

  #navbar a:last-child {
    margin-right: 0px;
  }

  h1 {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 0 1em 2.5em;
  }

  .project {
    height: 50vh;
  }

  .project-title {
    flex-wrap: wrap;
  }

  footer {
    padding: 10px;
  }

  footer h2 {
    padding: 1.5em 7px 10px;
  }

  .freeCodeCampProject {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  #socials {
    display: grid;
    padding: 1.2em 0 3em;
  }

  .link-camp {
    display: inline;
  }
}